body { 
  font-family: Verdana; 
  font-size: 12px; 
  height: 100%;
  background-color: #f2f2f2;
}
h1 { font-size: 18px; font-weight: bold; }
h2 { font-size: 14px; font-weight: bold; }
#title {
  background-color: #44a2c9;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#44a2c9), to(#70b8d6)); 

  color: white;
  font-size: 32px;
  font-weight: bold; 
  padding-top: 40px;
  padding-bottom: 16px;
}

.line1 {
  height: 20px;
  background-color: #0f80b3;
  margin-bottom: 8px;
}

.page-align {
  margin: 0 auto; position: relative; width: 960px;
}

.column-25-percent { 
  width: 24%; 
  float: left; 
}
.column-33-percent {
  width: 32%;
  float: left;
}
.column-50-percent {
  width: 49%;
  float: left;
}
.column-66-percent {
  width: 65%;
  float: left;
}
.column-75-percent {
  width: 74%;
  float: left;
}

.padded-panel {
  padding-left: 1.6em;
  padding-right: 1.6em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.margin-panel {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.navigation-list li {
  margin-bottom: 8px;
}

.search-panel input { 
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 6px;
  font-size: 14px;
  border: 1px solid gray; 
  border-radius: 4px;
  width: 100%;
}
.search-panel .item-list li {
  margin-top: 6px;
  margin-bottom: 6px;
}

.editor-panel .buttons {
  margin-bottom: 12px;
}
.editor-panel .delete {
  float: right;
}
.editor-panel .warning {
  color: red;
}
.editor-panel .message {
	font-style: italic;
}
.editor-panel textarea { 
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 300px; 
  border: 1px solid gray; 
  border-radius: 4px;
}

