body { font-family: Verdana; font-size: 12px; }
h1 { font-size: 18px; font-weight: bold; }
#wrapper { margin: 0 auto; position: relative; width: 960px; }
.tabs { 
  width: 600px; 
  float: left; 
  margin: 8px 8px 8px 0px; 
}
.left-panel { 
  width: 280px; 
  float: left; 
}
.padded-panel {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 8px; 
}
.search-input { 
  padding: 6px;
  font-size: 14px;
  border: 1px solid gray; 
  border-radius: 4px;
  width: 220px;
}
.results-list li {
  margin-top: 6px;
  margin-bottom: 6px;
}
.button-panel {
  margin-bottom: 12px;
}
.tab-text { 
  width: 100%; 
  height: 300px; 
  border: 1px solid gray; 
  border-radius: 4px;
}
.delete-button {
  float: right;
  clear: both;
}
.warning-label {
  color: red;
}
.message-label {
	font-style: italic;
}
.navigation-list li {
  margin-bottom: 6px;
}
