<div class='editor-panel'>
  <h1 class='title'>Untitled</h1><br/>
  <div class='buttons'>
    <a class='save' href='#'>Save</a>&nbsp;
    <a class='new' href='#'>New</a>&nbsp;
    <a class='prev' href='#' style='display:none;'>Prev</a>&nbsp;
    <a class='next' href='#' style='display:none;'>Next</a>&nbsp;
    <span class='warning'>Warnings go here</span>
    <span class='message'>Messages go here</span>
    <a class='delete' href='#'>Delete</a>
  </div>
  <div style='clear:both;'></div>
  <input class='meta' type='text' style='display:none;'></input>
  <textarea></textarea>  
</div>
