<div id='journal-page'>
  <div class='left-panel ui-widget ui-corner-all ui-widget-content'>
    <input class='search-input' type='test' placeholder='Search'></input>
    <div class='results-list'>
  </div>

  <div class='editor ui-widget ui-corner-all ui-widget-content'>
    <h1 class='journal-id'>Journal Entry #1</h1><br/>
    <div class='button-panel'>
      <a class='save-button' href='#'>Save</a>&nbsp;
      <a class='new-button' href='#'>New</a>&nbsp;
      <span class='warning-label'>Warnings go here</span>
      <span class='message-label'>Messages go here</span>
      <a class='delete-button' href='#'>Delete</a> 
    </div>
    <textarea class='editor-text'></textarea/>
  </div>

</div>
