<div id='journal-page'>

  <div class='column-33-percent'>
    <%= render :partial => 'layouts/navigation_list' %>
    <%= render :partial => 'layouts/search_panel' %>
  </div>

  <div class='column-66-percent'>
    <div class='padded-panel margin-panel ui-widget ui-corner-all ui-widget-content'>
      <%= render :partial => 'layouts/editor_panel' %>
    </div>
  </div>

</div>
