<div class='navigation-list padded-panel ui-widget ui-corner-all ui-widget-content'>
   <ul>
     <li><h1><a href='#'>Journal</a></h1></li>
     <li><h1><a href='#'>Patient Profiles</a><h1></li>
   </ul>
</div>
