<div class='navigation-list padded-panel margin-panel ui-widget ui-corner-all ui-widget-content'>
   <ul>
     <li><h2><a href='#journal-page'>Journal</a></h2></li>
     <li><h2><a href='#profiles-page'>Patient Profiles</a><h2></li>
   </ul>
</div>
